<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12" style="margin: 25px 0;">
                    <p class="lead text-center">
                        <strong>Jess</strong> converts <a href="http://www.getpostman.com">Postman</a> API collections
                        to client libraries &amp; documentation
                    </p>
                </div>
            </div>
            <form name="import" method="get" action="/json/" class="row">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label>Generate:</label>
                        <select name="format" class="form-control input-lg">
                            <option value="javascript" default="default">JavaScript</option>
                            <!-- <option value="markdown">Markdown</option>
                            <option value="html">HTML</option> -->
                        </select>
                    </div>
                    <div class="col-sm-7">
                        <label>From URL or JSON:</label>
                        <textarea name="collection" class="form-control input-lg" rows="1" placeholder="Postman collection URL, ID or JSON"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <label>&nbsp;</label><br/>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Convert</button>
                    </div>
                </div>
            </form>
            <div class="row hidden-xs">
                <div class="col-sm-3">
                    &nbsp;
                </div>
                <div class="col-sm-9">
                    <p style="margin-top: 10px;" class="text-muted">
                        e.g. <a href="https://www.getpostman.com/collections/52016da919f6ed2a0a46" id="demo" class="text-muted">https://www.getpostman.com/collections/52016da919f6ed2a0a46</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="result" class="row" style="margin-top: 20px; display: none;">
        <ul id="tabs-result" class="nav nav-tabs">
            <li class="active"><a href="#tab-code" data-toggle="tab">Code</a></li>
            <!-- <li><a href="#tab-docs" data-toggle="tab">Documentation</a></li> -->
        </ul>
        <br/>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-code">
                <div class="col-sm-12">
                    <h2>
                        Code
                        <a id="download" href="" class="btn btn-default pull-right"><i class="fa fa-link"></i> Link to this library</a>
                    </h2>
                    <pre id="code"></pre>
                </div>
            </div>
            <div class="tab-docs" id="tab-import-from-json">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-muted text-center" style="margin: 50px 0;">
                <a href="http://en.wikipedia.org/wiki/Postman_Pat">Jess</a> is <a href="https://github.com/iaincollins/jess">free software</a> by <a href="http://iaincollins.com">@iaincollins</a>. It is not associated with <a href="http://www.getpostman.com">Postman</a>.
            </p>
        </div>
    </div>
    <script>
    jQuery(document).ready(function() {
        
        $('textarea[name="collection"]').focus();
        
        $(document).on('click', '#tabs-result a', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $(document).on('click touch', 'a#demo', function(e) {
            e.preventDefault();
            $('textarea[name="collection"]').val( this.href );
            $('form[name="import"]').submit();
        });

        $(document).on('submit', 'form[name="import"]', function(e) {
            e.preventDefault();
            
            try {
                // Attempt to parse as JSON, call back to trying as URL if not JSON
                var json = $.parseJSON($('textarea[name="collection"]').val());
                                
                // If parsing worked, submit it to server
                $.ajax({
                    'cache': false,
                    'method': 'POST',
                    'url': '/json/',
                    'data': { format: "javascript", collectionJson: $('textarea[name="collection"]').val() },
                    'success': function (response) {
                        $('#download').hide();
                        $('#code').text( response );
                        $('#result').slideDown();
                    },
                    'error': function(err) {
//                        console.log(err);
                    }
                });
            } catch (e) {
                // If parsing input as JSON fails (and throws exception) try treating it as an ID
                // (stripping any URL element)
                
                var input = $('textarea[name="collection"]').val().trim().replace(/\/$/, '');
                input = input.split("/");
                var collectionId = input[input.length - 1];

                if (collectionId == '')
                    return;
                    
                $.ajax({
                    'cache': false,
                    'url': '/collections/' + collectionId + '.js',
                    'success': function (response) {
                       $('#download').attr('href', 'http://'+window.location.host+'/collections/'+collectionId+'.js').show();
                       $('#code').text( response );
                       $('#result').slideDown();
                    },
                    'error': function(err) {
//                        console.log(err);
                    }
                });
            }

        });

    });
    </script>
</div>